<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-md-6">
  <div class="thumbnail">
    <%= image_tag @listing.image.url %>
  </div>
  </div>
  <div class="col-md-6">
    <h3><%= @listing.name %></h3>
    <p><%= number_to_currency(@listing.price) %></p>
    <p><%= @listing.description %></p>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
