<div class="row">
  <p id="notice"><%= notice %></p>
  <h1>Listing Invoices</h1>
  <div class="pull-right range-query">

  <%= form_tag invoices_path, method: :get do %>
    <%= text_field_tag 'search[date_from]', @search.date_from %>
    <%= text_field_tag 'search[date_to]', @search.date_to %>
    <%= submit_tag 'Search', class: 'btn search-button' %>
  <% end %>
  </div>
</div>
<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Company</th>
          <th>Tax</th>
          <th>Salesperson</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
            <td><%= invoice.date.strftime("%d-%m-%Y") %></td>
            <td><%= invoice.company %></td>
            <td><%= invoice.tax %></td>
            <td><%= invoice.salesperson %></td>
            <td><%= link_to 'Show', invoice, class: 'btn btn-mini btn-primary' %></td>
            <td><%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-mini btn-warning'  %></td>
            <td><%= link_to 'Destroy', invoice, method: :delete, class: 'btn btn-mini  btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

  <br>

  <%= link_to 'New Invoice', new_invoice_path %>
